environment: development

backend:
  host: 75.101.138.248
  port: 80
  
throttler:
  storage:
    redis:
      host: 0.0.0.0
      port: 6379
  rules:
    by_ip_limit_all_to_100_requests_daily:
      endpoint: '.*'
      limit: 100
      time: day
      client:
        identifier: ['ip']
    by_ip_limit_random_method_to_2_requests_hourly:
      endpoint: '^/random_method.*$'
      limit: 2
      time: hour
      client:
        identifier: ['ip']
